.container-fluid{
    width: 100%;
    background-color: teal;
}

body{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.inline{
    display: inline-block;
}

/*  */

.app{
    max-height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
    background-color: wheat;
}

.app footer{
    height: 90px;
    background-color: rgb(66, 66, 66);
}

main .sidebar{
    background-color: rgb(19, 19, 19);
    
}

main .content{
    background-color: rgb(11, 0, 51);
    overflow-y: scroll;
    height: 100%;
}

.example{
    width: 100%;
    height: 200vh;
    background-color: rgb(31, 29, 58);
    margin: 0 auto;
}

/* left side */

.inside-sidebar{
    padding: 5px;
    font-size: 15px;
}

.logo-spoty{
    width: 95px;
    display: block;
}

.logo-spoty2{
    display: none;
    width: 20px;
    filter: invert(1);
    text-align: center;
    
}

@media all and (max-width: 766px){
    .logo-spoty{
        display: none;
    }

    .logo-spoty2{
        display: block; 
    }
}

.home-ecc{
    margin: 15px 0 5px 0;  
}

.home-ecc img{
    width: 15px;
}


@media all and (max-width: 766px){
    .home-ecc-txt{
        display: none;
    }
}

.home-ecc h3{
    margin: 15px 0;
}

.home-ecc li{
    list-style-type: none;
    margin: 5px 0;
}

.square{
    width: 20px;
    height: 20px;
    background-color: gray;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
}


